/* 1. Import Font nghệ thuật Caveat lên đầu file */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap');
@import url('./component/clock/clock.css'); /* Import CSS đồng hồ từ component/clock/clock.css */
@import url('./component/avatar/header.css');
@import url('./component/auth/auth.css');
@import url('./component/post/post.css');

/* 2. Khai báo bảng màu Pastel chuẩn */
:root {
  --bg-main: #F8F4EA;     /* Nền kem nhạt */
  --pink-card: #FDE9EE;   /* Hồng nhạt (Nhật Bản) */
  --green-card: #E8F3E6;  /* Xanh nhạt (Việt Nam) */ 
  --text-main: #4A3E3D;   /* Chữ xám trầm sang trọng */
  --text-sub: #8D808D;    /* Chữ phụ */
  --primary-pink: #FF7B9C;
}

/* 3. Cấu hình chung cho toàn trang web */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Be Vietnam Pro', sans-serif;
  background-color: var(--bg-main);
  color: var(--text-main);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

/* Khóa cuộn trang tuyệt đối khi đang hiện Màn hình Đăng nhập */
body.login-locked {
  overflow: hidden !important;
  height: 100vh !important;
}

.app-container {
  width: 100%;
  max-width: 430px;
  margin: 0 auto;
  padding: 0 16px 90px 16px; /* Padding bottom 90px để tránh che bởi Bottom Nav */
  position: relative;
}

